<%for(var author in authors){%>
    <img src="<%= authors[author].urlphoto %>" alt="Autor" HEIGHT="140px" />
    <h3><%= authors[author].name %></h3>
    <%if(authors[author].urlvideo) {%>
        <video controls>
            <source src="<%= authors[author].urlvideo %>">
            Your browser does not support the video tag.
        </video>
    <%}%> 
<%}%>